<div class="sidebar-wrapper">
	<div class="logo">
		<a href="/" class="simple-text logo-mini">
			<div class="logo-image-small">
				<img src="assets/paper-design/angular2-logo.png">
			</div>
		</a>
		<a href="/" class="simple-text logo-normal">
			Simple Plugins
		</a>
	</div>
	<ul class="nav">
		<li routerLinkActive="active" class="active">
			<a href="/">
				<p>Главная</p>
			</a>
		</li>
		<li *ngFor="let p of plugins">{{p.name}}</li>
		<li *ngFor="let m of mods">{{m.name}}</li>
	</ul>
</div>
  
