<div class="wrapper">

    <div class="sidebar" data-color="white" data-active-color="danger">
        <app-sidebar-cmp></app-sidebar-cmp>
    </div>

    <div class="main-panel">
        <app-navbar-cmp></app-navbar-cmp>

        <div class="content">

            <h1>{{title}}</h1>
            <p>Простые плагины и модификации одним файлом. Решил открыть репозиторий с плагинами, которые не нуждаются в
                большой установке и огромных правок движка. А так-же модификации плагинов сторонних разработчиков.</p>
            <hr>

            <h2>Как скачать?</h2>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Перейти в <a href="https://github.com/Gokujo/simple_plugins"
                                                            target="_blank">репозиторий</a>. При помощи зелёной кнопки
                    <kbd style="background: forestgreen"><> Code</kbd> над репозиторием и в выпавшем окне на Download
                    ZIP. Затем распаковать и в папке plugins найти нужный плагин и установить.
                </li>
                <li class="list-group-item">При помощи ссылки, что указана в таблицах ниже. Нажмите правой кнопкой
                    мыши по ссылки и затем на "Сохранить ссылку как" (текст может отличаться)
                </li>
                <li class="list-group-item">При помощи ссылки, что указана в таблицах ниже. Открываете её и копируете
                    содержимое в блокнот и сохраняете в формате xml
                </li>
                <li class="list-group-item">При помощи <a href="https://github.com/Gokujo/simple_plugins"
                                                             target="_blank">репозитория</a>, переходите в папку
                    plugins, выбираете нужный плагин и жмёте на него. Далее как в пункте 3.
                </li>
            </ol>
            <hr>
            <h2>Список плагинов</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Версия</th>
                    <th>Автор</th>
                    <th>Ссылка</th>
                    <th>Описание</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of plugins" (click)="selectPlugin(p)">
                    <td >{{p.name}}</td>
                    <td>{{p.version}}</td>
                    <td>{{p.author}}</td>
                    <td><a href="{{p.link}}" target="_blank">Скачать</a></td>
                    <td>{{p.description}}</td>
                </tr>
                </tbody>
            </table>
            <hr>
            <div class="card hide" [ngClass]="{'active': selectedItem}" *ngIf="selectedObject">
                <div class="card-body">
                    <h5 class="card-title">{{selectedObject.name}} (v{{selectedObject.version}})</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary" *ngIf="selectedObject.source_link">Модификация</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary" *ngIf="!selectedObject.source_link">Плагин</h6>
                    <p class="card-text">{{selectedObject.description}}</p>
                    <div class="card-text">
                        <b>История изменений</b>:
                        <dl class="changelog">
                            <ng-container *ngFor="let c of selectedObject.changes">
                                <dt>{{c.version}}</dt>
                                <dd>
                                    <ul>
                                        <li *ngFor="let c2 of c.changes" [innerHTML]="c2"></li>
                                    </ul>
                                </dd>
                            </ng-container>
                        </dl>
                    </div>
                    <a href="{{selectedObject.link}}" class="card-link">Скачать</a>
                    <a *ngIf="selectedObject.source_link" href="{{selectedObject.source_link}}" class="card-link" target="_blank">Источник</a>
                </div>
            </div>
            <hr>
            <h2>Список модификаций</h2>
            <div class="alert alert-danger" role="alert">К любой модификации требуется оригинал. Модификация не содержит
                изначальных правок, чтобы не рушить
                работоспособность изначальной задумки. А так-же для того, чтобы можно было просто и без проблем обновить
                оригинал
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Версия</th>
                    <th>Ссылка</th>
                    <th>Автор оригинала</th>
                    <th>Ссылка</th>
                    <th>Версия</th>
                    <th>Описание</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let m of mods" (click)="selectMod(m)">
                    <td>{{m.name}}</td>
                    <td>{{m.version}}</td>
                    <td><a href="{{m.link}}" target="_blank">Скачать</a></td>
                    <td>{{m.author}}</td>
                    <td><a href="{{m.source_link}}" target="_blank">Перейти</a></td>
                    <td>{{m.source_version}}</td>
                    <td>{{m.description}}</td>
                </tr>
                </tbody>
            </table>



        </div>
    </div>

</div>
